/** Grid */

.content{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    box-sizing: border-box;
}

.card{
    margin: 0rem;
    padding: 1rem;
    background-color: #343434;
    color: #f3f3f3;
    display: grid;
}

.banner{
    margin: 1rem;
    padding: 1rem;
    background-color: #343434;
    color: #f3f3f3;
    display: grid;
}
